/.idea
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/web/config.php
/web/.htaccess-dev
/.htaccess
/src/MojeKlase/array.inc
/src/MojeKlase/cred.inc
/web/phpmyadmin
/nbproject