{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kreiranje role</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Kreiraj" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('roles_index') }}">Nazada na listu</a>
        </li>
    </ul>
{% endblock %}
