{% extends 'base.html.twig' %}

{% block body %}
    <h1>Uplata redakciji</h1>
    <p>Kliknite na link i bićete preusmereni na PayPal sajt kako bi zavrsili plaćanje</p>
    {{ data|raw }}
{% endblock %}